<module xmlns="urn:jboss:module:1.0" name="com.commerzunternahmen.tokenmanagement-subsystem">
	<resources>
		<resource-root path="." />
	</resources>
	<dependencies>
		<module name="com.commerzunternahmen.tokenmanagement-module"
			services="export" export="true" />
	</dependencies>
</module>